@charset "utf-8";
@import "design";
@import url("http://rgt927.dothome.co.kr/common/css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap");

body {
  font: 14px/1.5 "Noto Sans KR", sans-serif;
  min-width: 320px;
}
// .header-bg,
#header,
#visual-slide-wrap,
#container,
#footer {
  max-width: 1074px;
  margin: 0 auto;
}

.header-bg {
  width: 100%;
  background: #fff;
}
#header {
  max-width: 1074px;
  height: 90px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  .logo {
    padding: 20px 0 20px 0;
  }
  .gnb {
    position: absolute;
    margin-left: 270px;
    margin-left: 270px;
    top: 30px;
    > li {
      float: left;
      font-weight: 400;
      color: $mainColor-1;
      // margin-left: 53px;
      position: relative;
      padding: 0 35px;
      > a {
        font-size: 18px;
        font-weight: 700;
        &.on {
          + ul {
            display: block;
          }
        }
      }
      .menu-list {
        background: #fff;
        font-size: 14px;
        color: #555;
        width: 100%;
        height: 180px;
        border-top: 1px solid #f06060;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 400;
        padding-top: 10px;
        display: none;
        text-align: center;
        li {
          padding-bottom: 10px;
        }
      }
    }
  }
  .util {
    position: absolute;
    text-indent: -9999px;
    top: 30px;
    right: 0;
    > li {
      float: left;
      width: 25px;
      height: 25px;
    }
    .sch-icon {
      background: url("../images/sch-icon.png") no-repeat;
    }
    .user-icon {
      background: url("../images/user-icon.png") no-repeat;
      margin-left: 20px;
    }
  }
}

.container-bg {
  background: linear-gradient(
      to bottom,
      rgba(248, 204, 204, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    )
    no-repeat;
}
#visual-slide-wrap {
  position: relative;
  .visual-slide {
    padding-top: 50px;
    > li {
      > a {
        position: relative;
        display: block;
        height: 460px;
        background: url("../images/visu-img-2.png") no-repeat right;
      }
      h1 {
        position: absolute;
        top: 40px;
        font-size: 60px;
        color: #f06060;
        font-weight: 700;
      }
      .visual-txt-1 {
        position: absolute;
        top: 140px;
        font-size: 22px;
        color: $mainColor-1;
      }
      .visual-txt-2 {
        position: absolute;
        font-size: 16px;
        color: #555;
        bottom: 120px;
      }
    }
  }
  .taser {
    position: absolute;
    left: 0;
    bottom: 30px;
    a {
      margin-right: 30px;
    }
  }
}
#container {
  .cont-h2 {
    color: $mainColor-1;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 26px;
    margin-left: 30px;
    font-weight: 500;
    position: relative;
    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background: url("../images/icon-onair.png") center no-repeat;
      position: absolute;
      left: -34px;
      top: 0;
    }
  }
  .main-contain-1 {
    margin-top: 60px;
    margin-bottom: 70px;
    overflow: hidden;
    .on-air-left {
      float: left;
      width: 65.17%;
      .youtube-zone {
        height: 0;
        background-color: #000;
        position: relative;
        padding-bottom: 56%;
        iframe {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .on-air-right {
      float: right;
      width: 33%;
      height: 390px;
      .onair-list {
        text-align: center;
        .onair {
          height: 100px;
          color: #fff;
          background-color: $mainColor-1;
          border: 1px solid #aaa;
          position: relative;
          > .onair-p-wrap {
            padding-top: 30px;
            p {
              &:first-child {
                position: absolute;
                top: 42px;
                left: 48px;
              }
              ~ p {
                padding-left: 60px;
              }
            }
          }
        }
        .next {
          height: 100px;
          background-color: #fff;
          border: 1px solid #aaa;
          color: #555555;
          border-top: none;
          position: relative;
          > .next-p-wrap {
            padding-top: 32px;
            p {
              &:nth-of-type(1) {
                position: absolute;
                top: 42px;
                left: 48px;
              }
              ~ p {
                padding-left: 60px;
              }
            }
          }
        }
        .view-pairing {
          height: 49px;
          line-height: 49px;
          color: #fff;
          background-color: $mainColor-1;
          margin-top: 41px;
        }
      }
    }
  }
  .main-contain-2 {
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;
    // .h-icon-bst {
    //   > img {
    //     height: 20px;
    //     width: 20px;
    //   }
    // }
    li[class*="week-best-"] {
      float: left;
      padding: 0 0 0 42px;
      &:first-child {
        padding-left: 0;
      }
      p {
        color: #555;
        + p {
          text-align: center;
          font-size: 14px;
          margin-top: 15px;
        }
      }
    }
    .more {
      position: absolute;
      top: 9px;
      right: 0;
    }
    .cont-h2 {
      &::before {
        content: "";
        width: 30px;
        height: 30px;
        background: url("../images/icon-best.png") center no-repeat;
        position: absolute;
        left: -34px;
        top: 0;
      }
    }
  }
  .main-contain-3 {
    position: relative;
    margin-bottom: 80px;
    a {
      display: block;
      position: relative;
      overflow: hidden;
      span {
        color: #fff;
        position: absolute;
        left: 0;
        bottom: -500px;
        width: 100%;
        height: 50px;
        padding: 10px;
        transition: all 0.2s ease-in;
        z-index: 1;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;
        transition: all 0.2s ease-in;
      }
      &:hover {
        span {
          bottom: 100px;
        }
        &:after {
          opacity: 0.5;
        }
      }
    }
    .scroll-wrap {
      .hot-list {
        > p {
          display: inline-block;
          padding-right: 20px;
        }
        p {
          &:nth-of-type(4) {
            padding-right: 0;
          }
        }
        .more {
          padding-right: 0;
        }
      }
    }
    .more {
      position: absolute;
      top: 9px;
      right: 0;
      padding-right: 0;
    }
    .cont-h2 {
      &::before {
        content: "";
        width: 30px;
        height: 30px;
        background: url("../images/icon-clip.png") center no-repeat;
        position: absolute;
        left: -34px;
        top: 0;
      }
    }
  }
}
#main-contain-border {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.main-contain-4 {
  max-width: 1074px;
  height: 50px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  > h2 {
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 9px;
    color: $mainColor-1;
  }
  .notice-more-1 {
    position: absolute;
    left: 120px;
    top: 13px;
    color: #555;
    white-space: nowrap;
    padding-right: 103px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .notice-more-2 {
    position: absolute;
    right: 0;
    top: 13px;
    color: #555;
  }
}
.footer-bg {
  background: #eee;
}
#footer {
  max-width: 1074px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  .footer-txt {
    display: inline-block;
    padding-bottom: 30px;
    li {
      display: inline-block;
      padding-left: 65px;
      color: #555;
      &:first-child {
        padding-left: 0;
      }
      em {
        color: #222;
        font-weight: 700;
      }
    }
    #family-site-option {
      border-style: none;
      width: 120px;
      height: 30px;
      border: 1px solid #aaa;
      padding-left: 5px;
      color: #555;
      -webkit-appearance: none;
      background: url("../images/option-arrow-1.png") no-repeat
        calc(100% - 10px) 11px;
    }
  }
  address {
    color: #aaa;
  }
  p {
    color: #aaa;
  }
}

//PC (1074~)
@media (min-width: 1074px) {
  #header {
    .btn-allmenu {
      display: none;
    }
    .btn-menu-close {
      text-indent: -9999px;
    }
    .gnb {
      display: block;
      .menu-0 {
        display: none;
      }
    }
  }
}

//Tablet & Mobile (721~1073)
@media (max-width: 1073px) and (max-width: 1073px) {
  #header {
    position: relative;
    height: 105px;
    .logo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .util {
      margin-right: 20px;
      .user-icon {
        display: none;
      }
    }
    .btn-allmenu {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
    .gnb-outer-zone {
      position: fixed;
      top: 0;
      left: -300%;
      width: calc(100% - 40%);
      height: 100%;
      background-color: #fff;
      z-index: 400;
      transition: left 0.1s linear;
      &:target {
        left: 0;
        + .dim {
          display: block;
        }
      }
      .gnb-scroll-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: auto;
      }
      .gnb {
        position: static;
        margin-left: 0;
        > li {
          float: none;
          margin-left: 0;
          padding: 0;
          position: relative;
          &:first-child {
            background: $mainColor-1;
            a {
              color: #fff;
            }
          }
          > a {
            display: block;
            font-size: 16px;
            min-height: 47px;
            padding: 10px 0 10px 10px;
            border-bottom: 1px solid #eee;
            color: $mainColor-1;
            font-weight: 500;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 11px;
              height: 11px;
              border: 1px solid $mainColor-1;
              top: 15px;
              right: 20px;
              border-left-color: transparent;
              border-top-color: transparent;
              transform-origin: 50% 50%;
              transform: rotate(45deg);
            }
            &.on {
              &:after {
                top: 22px;
                transform: rotate(-135deg);
              }
              + ul {
                display: block;
                > li {
                  > a {
                    display: block;
                  }
                }
              }
            }
          }
          .menu-list {
            padding-top: 0;
            top: 47px;
            text-align: left;
            position: static;
            height: auto;
            > li {
              padding-bottom: 0;
              > a {
                min-height: 47px;
                background: #eee;
                border-bottom: 1px solid #ccc;
                padding: 13px 0 0 10px;
              }
            }
          }
        }
      }
      .btn-menu-close {
        > a {
          width: 30px;
          height: 30px;
          position: absolute;
          top: 10px;
          right: -40px;
          text-indent: -9999px;
          background: #fff;
          border: 1px solid $mainColor-1;
          &::after {
            content: "";
            position: absolute;
            left: 1px;
            top: 50%;
            width: 26px;
            height: 1px;
            background: $mainColor-1;
            transform: rotate(45deg);
          }
          &::before {
            content: "";
            position: absolute;
            left: 1px;
            top: 50%;
            width: 26px;
            height: 1px;
            background: $mainColor-1;
            transform: rotate(-45deg);
          }
        }
      }
    }
    .dim {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.7;
      z-index: 399;
      display: none;
    }
  }
  #visual-slide-wrap {
    padding: 0 20px;
    position: relative;
    .visual-slide {
      > li {
        a {
          font-size: 50px;
          height: 0;
          padding-bottom: 36%;
          background-size: contain;
          .visual-txt-1 {
            top: 110px;
          }
          .visual-txt-2 {
            display: none;
          }
        }
        h1 {
          position: static;
        }
      }
    }
    .taser {
      margin-left: 0px;
      position: static;
    }
  }
  #container {
    padding: 0 20px;
    .main-contain-1 {
      margin-top: 85px;
      .on-air-left {
        float: none;
        width: auto;
      }
      .on-air-right {
        float: none;
        width: auto;
        margin-top: 30px;
        .onair-list {
          .view-pairing {
            margin-top: 20px;
          }
        }
      }
    }
  }
  .scroll-wrap {
    width: 100%;
    overflow-x: auto;
  }
  .best-list {
    width: 1074px;
    white-space: nowrap;
    overflow: auto;
  }
  .hot-list {
    width: 1074px;
    white-space: nowrap;
    overflow: auto;
    > p {
      display: inline-block;
      padding-right: 20px;
    }
    p {
      &:nth-of-type(4) {
        padding-right: 0;
      }
    }
  }
  .main-contain-4 {
    margin: 0 20px;
  }
  #footer {
    padding-top: 0;
    .footer-txt {
      display: flex;
      flex-wrap: wrap;
      > li {
        width: 50%;
        border-bottom: 1px solid #ccc;
        padding-left: 0;
        &:last-child {
          width: 100%;
          border-bottom: none;
          margin: 30px 0 0 14px;
        }
        a {
          display: block;
          min-width: 40px;
          padding: 20px;
        }
      }
    }
    address {
      margin: 0;
    }
  }
}

//Mobile (~720)
@media (max-width: 720px) {
  #visual-slide-wrap {
    .visual-slide {
      padding-top: 30px;
      > li {
        a {
          padding-bottom: 32%;
          h1 {
            font-size: 30px;
          }
          .visual-txt-1 {
            font-size: 14px;
            position: static;
            margin-top: 10px;
          }
        }
      }
    }
    .taser {
      margin-top: 20px;
    }
  }
  .main-contain-4 {
    .cont-h2 {
      font-size: 16px;
      top: 11px;
    }
    .notice-more-1 {
      left: 75px;
      width: calc(100% - 120px);
      padding-right: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  #footer {
    padding: 30px 0;
    .footer-txt {
      display: none;
    }
    address {
      display: none;
    }
    span {
      display: none;
    }
  }
}
